<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cf.webpage_title}}</title>
    <!-- link css stylesheet for flask -->
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet"/>
    <style>
        :root {
            /* Main */
            --bg-color: {{cf.main_background_color or '#0a0a1f'}};
            --text-color: {{cf.main_text_color or '#f0f0f0'}};
            /* Content */
            --content-color: {{cf.content_color or '#1c1c33'}};
            --content-text-color: {{cf.content_text_color or' #ffffff'}};
            /* Sidebar */
            --sidebar-color: {{cf.sidebar_color or '#193763'}};
            --sidebar-text-color: {{cf.sidebar_text_color or '#ffffff'}};
            /* Buttons */
            --button-color: {{cf.button_color or '#1a73ff'}};
            --button-text-color: {{cf.button_text_color or '#ffffff'}};
            --button-hover-color: {{cf.button_hover_color or '#0050b3'}};
            /* Borders */
            --border-color: {{cf.border_color or' #3399ff'}};
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <div class="sidebar"> 
            <div class="box">
                <h2>Weather</h2>
                <h3>{{wd.city}}, {% if wd.state or wd.country %}{{ wd.state|default('') }}{% if wd.state and wd.country %} - {% endif %}{{ wd.country|default('') }}{% endif %}</h3>
                 <img src="{{ url_for('static', filename='weather_icon/' + (wd.icon or 'default.png')) }}" alt="Weather Icon" width="100" height="100">
                    <h3>{{wd.description}}</h3>
                    <div class="weather-table">
                    <div class="weather-row">
                        <span class="label">Feel:</span>
                        <span class="value">{{ wd.feel }}°F</span>
                    </div>
                    <div class="weather-row">
                        <span class="label">Temp:</span>
                        <span class="value"> {{ wd.temp }}°F</span>
                    </div>
                    <div class="weather-row">
                        <span class="label">Humidity:</span>
                        <span class="value"> {{ wd.humid }}%</span>
                    </div>
                    <div class="weather-row">
                        <span class="label">Clouds:</span>
                        <span class="value"> {{ wd.clouds }}%</span>
                    </div>
                    <div class="weather-row">
                        <span class="label">Wind:</span>
                        <span class="value"> {{ wd.wind}}</span>
                    </div>
                </div>
            </div>
            <br>
            <div>
                
                <div class="box">
                    <h2>News</h2>
                    <h3 id="news-src"></h3>
                    <p id="news-art"></p>
                    <a class = "url-button"id="news-url" href="" target="_blank" rel="noopener noreferrer">Read more</a>
                </div>
            </div>
            <br>
            <div class="box">
                    <h2>Quote of the Day</h2>
                    <br>
                    <ul>
                        <li class="quote">{{quote}}</li>
                    </ul>
                    <br>
                    <h4 class="author">{{author}}</h4>
                </div>
        </div>
        <div class="main-content">
            <div class="top-menu">
                <a href="/home">Home</a>
                <a href="/search">Search</a>
                <a href="/reports">Reports</a>
                <a href="/settings">Settings</a>
            </div>

            <div id="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <div class="main-header">
                <h1>{{cf.company}}</h1>
                <form action="{{ url_for('frontend.home') }}" method="POST" id="autoForm">
                    <input class="largeTextbox" type="text" name="idscan" id="idscan" placeholder="Scan or Enter ID" maxlength="8" required autofocus>
                    <button class="largeButton" type="submit">Clock In</button>
                </form>
                {% if result %}
                    <div class="result">Submitted value: {{ result }}</div>
                {% endif %}
            </div>

            <div class="content"> 
                <div class="left-div">
                    <h2>{{scan.fname}} {{scan.lname}}</h2>
                    <h3>{{scan.idnumber}} </h3>
                    <p>{{scan.role}} -- {{scan.position}}<br>{{scan.department}}</p>
                    <h3>{{time}}</h3>
                    <h3>{{date}}</h3>
                </div>

                <div class="middle-div">
                    <img src="{{ url_for('static', filename='images/' ~ scan.pic) }}"alt="picture not found" width="256" height="256">
                </div>

                <div class="right-div recent">
                    <div class="excel-wrapper">
                        <div class="excel-table">
                            <!-- HEADER ROW -->
                            <div class="excel-row excel-header">
                                <div class="excel-cell">First Name</div>
                                <div class="excel-cell">Last Name</div>
                                <div class="excel-cell">In/Out</div>
                                <div class="excel-cell">Time</div>
                            </div>
                            <!-- DATA ROWS -->
                            {% for person in recent_people %}
                            <div class="excel-row">
                                <div class="excel-cell">{{ person.fname }}</div>
                                <div class="excel-cell">{{ person.lname }}</div>
                                <div class="excel-cell">{{ person.io }}</div>
                                <div class="excel-cell">{{ person.time}}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home_script.js') }}"></script>

</body>
</html>
